body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
svg #line {
  fill: none;
  stroke: #c90a9d;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;

  stroke-opacity: 1;
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: dash 7s linear infinite;
}
svg #point {
  fill: none;
  stroke: #ececec;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: .12;
  stroke-opacity: 1;
  stroke-dasharray: .0001, .9999;
  stroke-dashoffset: 1;
  animation: dash 7s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}